
<!--page title start-->
<section class="page-title ptb-30">
  <div class="container padding-top-40">
    <div class="row">
      <div class="col m12">
        <h6 class="pagetitles">Services</h6>
        <ol class="breadcrumb">
          <li>
            <a routerLink="/single-blogpage">Home</a>
          </li>
          <li>
            <a routerLink="/single-blogpage">Services</a>
          </li>
          <li class="active">Cross Platform Mobile Application Development with Xamarin</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!--page title end-->


<img src="assets/img/blog/bigperl_blogpage_banner1.png" alt="blackberry_app_development_bigperl_banner" class="fullwidth">


<div class="blog container padding-top-20 blog">
<div class="row">
  <div class="col m8">
    
          <div class="col m12 single-blog padding-top-10">
            <div class="well">
              <div class="media">
                <div class="col m4 no_padding">
                  <a class="pull-left" routerLink="/single-blogpage">
                    <div class="img-heading pull-left">
                      <h5>APP DEVELOPMENT</h5>
                    </div>
                    <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                    </a>
                  </div>
                  <div class="col m8">
                    <div class="media-body">
                      <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                      <a class=" pull-right marginBottom10" routerLink="/single-blogpage">READ MORE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col m12 single-blog padding-top-20">
              <div class="well">
                <div class="media">
                  <div class="col m4 no_padding">
                    <a class="pull-left" routerLink="/single-blogpage">
                      <div class="img-heading pull-left">
                        <h5>APP DEVELOPMENT</h5>
                      </div>
                      <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                      </a>
                    </div>
                    <div class="col m8">
                      <div class="media-body">
                        <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                        <a class=" pull-right marginBottom10" routerLink="/single-blogpage">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col m12 single-blog padding-top-20">
                <div class="well">
                  <div class="media">
                    <div class="col m4 no_padding">
                      <a class="pull-left" routerLink="/single-blogpage">
                        <div class="img-heading pull-left">
                          <h5>APP DEVELOPMENT</h5>
                        </div>
                        <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                        </a>
                      </div>
                      <div class="col m8">
                        <div class="media-body">
                          <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                          <a class=" pull-right marginBottom10" routerLink="/single-blogpage">READ MORE</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col m12 single-blog padding-top-20">
                  <div class="well">
                    <div class="media">
                      <div class="col m4 no_padding">
                        <a class="pull-left" routerLink="/single-blogpage">
                          <div class="img-heading pull-left">
                            <h5>APP DEVELOPMENT</h5>
                          </div>
                          <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                          </a>
                        </div>
                        <div class="col m8">
                          <div class="media-body">
                            <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                            <a class=" pull-right marginBottom10" routerLink="/single-blogpage">READ MORE</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col m12 single-blog padding-top-20">
                    <div class="well">
                      <div class="media">
                        <div class="col m4 no_padding">
                          <a class="pull-left" routerLink="/single-blogpage">
                            <div class="img-heading pull-left">
                              <h5>APP DEVELOPMENT</h5>
                            </div>
                            <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                            </a>
                          </div>
                          <div class="col m8">
                            <div class="media-body">
                              <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                              <a class=" pull-right marginBottom10" routerLink="/single-blogpage">READ MORE</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col m12 single-blog padding-top-20">
                      <div class="well">
                        <div class="media">
                          <div class="col m4 no_padding">
                            <a class="pull-left" routerLink="/single-blogpage">
                              <div class="img-heading pull-left">
                                <h5>APP DEVELOPMENT</h5>
                              </div>
                              <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                              </a>
                            </div>
                            <div class="col m8">
                              <div class="media-body">
                                <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                                <a class=" pull-right marginBottom10" routerLink="/single-blogpage">READ MORE</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col m12 single-blog padding-top-20">
                        <div class="well">
                          <div class="media">
                            <div class="col m4 no_padding">
                              <a class="pull-left" routerLink="/single-blogpage">
                                <div class="img-heading pull-left">
                                  <h5>APP DEVELOPMENT</h5>
                                </div>
                                <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                                </a>
                              </div>
                              <div class="col m8">
                                <div class="media-body">
                                  <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                                  <a class=" pull-right marginBottom10" routerLink="/single-blogpage">READ MORE</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col m12 single-blog padding-top-20">
                          <div class="well">
                            <div class="media">
                              <div class="col m4 no_padding">
                                <a class="pull-left" routerLink="/single-blogpage">
                                  <div class="img-heading pull-left">
                                    <h5>APP DEVELOPMENT</h5>
                                  </div>
                                  <img class="media-object" src="assets/img/services/5-Simple-Tips-To-Make-Your-Android-App-Successful_bigperl.jpg">
                                  </a>
                                </div>
                                <div class="col m8">
                                  <div class="media-body">
                                    <h2 class="media-heading">5 Simple Tips To Make Your Android App Successful</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae .</p>
                                    <a class=" pull-right marginBottom10" routerLink="/single-blogpage">READ MORE</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> <!-- col m8 -->



                        <!-- Sidebar Widgets Column -->
                        <div class="col m4 ">
                          <!-- Search Widget -->
                          <form action="#" method="get">
                            <div class="input-field">
                              <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                              <input class="form-control" id="system-search" name="q" placeholder="Search for" required style="width:75%">
                                <span class="input-group-btn" >
                                  <button type="submit" class="btn-a btn-a-default">
                                      <i class="fa fa-search"></i>
                                  </button>
                                </span>
                              </div>
                            </form>
                            <h2 class="text-bold mb-11 padding-top-20">CATEGORIES</h2>
                            <form>
                              <div class="form-group">
                                <select class="form-control" id="sel1">
                                  <option>Select Category</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                </select>
                              </div>
                            </form>
                            <h2 class="text-bold mb-11 padding-top-20">RECENT POSTS</h2>
                            <ul TYPE = "SQUARE">
                              <li>
                                <a>
                                  <p>Google Increases Meta Description Length: Here’s What It Means For SEO Experts</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>5 Simple Tips To Make Your Android App Successful</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>Google Increases Meta Description Length: Here’s What It Means For SEO Experts</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>5 Simple Tips To Make Your Android App Successful</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>Google Increases Meta Description Length: Here’s What It Means For SEO Experts</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>5 Simple Tips To Make Your Android App Successful</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>Google Increases Meta Description Length: Here’s What It Means For SEO Experts</p>
                                </a>
                              </li>
                              <li>
                                <a>
                                  <p>5 Simple Tips To Make Your Android App Successful</p>
                                </a>
                              </li>
                            </ul>
                          </div>


                       
                          
                        
                        </div> <!--  row -->
                        <div class="center">
                            <ul class="pagination">
                                <li class="disabled"><a ><i class="material-icons">chevron_left</i></a></li>
                                <li class="active"><a >1</a></li>
                                <li class="waves-effect"><a >2</a></li>
                                <li class="waves-effect"><a >3</a></li>
                                <li class="waves-effect"><a >4</a></li>
                                <li class="waves-effect"><a >5</a></li>
                                <li class="waves-effect"><a ><i class="material-icons">chevron_right</i></a></li>
                              </ul>
    
                        </div>
                        
                      </div>
                        
                       
                            