
.single-blog{
    

    border-bottom: 1px solid #cebdbd;
    padding: 16px 0px;
    margin-bottom: 17px;

}
.no_padding {
    padding-right: 15px;
    padding-left: 1px;
}


pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a:hover{
    background: #03a9f4;
}
.form-control {
    border-radius: 0;
    height: 35px;
}
.pagination{
    padding: 15px;
}

.pagination li {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    height: 45px;
}