
        <!--page title start-->
        <section class="page-title ptb-30">
          <div class="container padding-top-40">
              <div class="row">
                  <div class="col-md-12">
                      <h6 class="pagetitles">Clients</h6>
                      <ol class="breadcrumb">
                          <li><a href="#">Home</a></li>
                          <li><a href="#">our clients</a></li>
                      </ol>
                  </div>
              </div>
          </div>
      </section>
      <!--page title end-->

      <section class="section-padding">
          <div class="container">
             
            <div class="center mb-80">
                <h2 class="section-title text-uppercase">Awesome clients</h2>
                <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam. Nulla ac nisi rhoncus,</p>
            </div>
            <div class=" gutter">
              <div class="row">
                  <div class="owl-carousel owl-theme" id="customers-carousel3">
                      <div class="item active">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_akg_bigperl_2.png" alt="our_clients_akg_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_ang_bigperl_2.png" alt="our_clients_ang_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_archi_bigperl_2.png" alt="our_clients_archi_bigperl">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_arfma_bigperl_2.png" alt="our_clients_arfma_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_barma_bigperl_2.jpg" alt="our_clients_barma_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_ccat_bigperl_2.png" alt="our_clients_ccat_bigperl">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_fashion_bigperl_2.png" alt="our_clients_fashion_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_gp_bigperl_2.png" alt="our_clients_gp_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_he_bigperl_2.png" alt="our_clients_he_bigperl">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_jms_bigperl_2.png" alt="our_clients_jms_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_kuch_bigperl_2.png" alt="our_clients_kuch_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_kvrc_bigperl_2.png" alt="our_clients_kvrc_bigperl">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_lg_bigperl.png" alt="our_clients_lg_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_mp_bigperl.png" alt="our_clients_mp_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_mut_bigperl.png" alt="our_clients_mut_bigperl">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_omf_bigperl.png" alt="our_clients_omf_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_pg_bigperl.png" alt="our_clients_pg_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_pre_bigperl.png" alt="our_clients_pre_bigperl">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_q8_bigperl.jpg" alt="our_clients_q8_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_rb_bigperl.png" alt="our_clients_rb_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_rbcaterers_bigperl.png" alt="our_clients_rbcaterers_bigperl">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_rel_bigperl.png" alt="our_clients_rel_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_rkcatring_bigperl.png" alt="our_clients_rkcatring_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_sai_bigperl.png" alt="our_clients_sai_bigperl">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_saiele_bigperl.png" alt="our_clients_saiele_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_sig_bigperl.png" alt="our_clients_sig_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_smv_bigperl.png" alt="our_clients_smv_bigperl">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_svassa_bigperl.jpg" alt="our_clients_svassa_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_tp_bigperl.png" alt="our_clients_tp_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_vb_bigperl.png" alt="our_clients_vb_bigperl">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_vstrack_bigperl.png" alt="our_clients_vstrack_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_yecons_bigperl.png" alt="our_clients_yecons_bigperl">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_del_bigperl.png" alt="our_clients_envato_bigperl">
                              </a>
                          </div>
                      </div>
                  </div>
              </div><!-- /.row -->
            </div><!-- /.clients-grid -->
          </div><!-- /.container -->
      </section><br>

      <!-- <div class="container-contact1001">
		

		<div class="wrap-contact1001" id="wrap-contact101">
			<div class="contact100-form-title" id="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
				<span class="contact100-form-title-1">
					Contact Us
				</span>

				<span class="contact100-form-title-2">
					Feel free to drop us a line below!
				</span>
			</div>

			<form class="contact100-form validate-form" id="contact100-form validate-form">
				<div class="wrap-input100 validate-input" id="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100" id="label-input100">Full Name:</span>
					<input class="input100" id="input100" type="text" name="name" placeholder="Enter full name">
					<span class="focus-input100" id="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" id="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100" id="label-input100">Email:</span>
					<input class="input100" id="input100"  type="text" name="email" placeholder="Enter email addess">
					<span class="focus-input100" id="focus-input100" ></span>
				</div>

				<div class="wrap-input100 validate-input" id="wrap-input100 validate-input" data-validate="Phone is required">
					<span class="label-input100" id="label-input100">Phone:</span>
					<input class="input100" id="input100" type="text" name="phone" placeholder="Enter phone number">
					<span class="focus-input100" id="focus-input100" ></span>
				</div>

				<div class="wrap-input100 validate-input" id="wrap-input100 validate-input" data-validate = "Message is required">
					<span class="label-input100" id="label-input100">Message:</span>
					<textarea class="input100" id="input100" name="message" placeholder="Your Comment..."></textarea>
					<span class="focus-input100" id="focus-input100" ></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div> -->



