
 <!--page title start-->
 <section class="page-title ptb-30">
        <div class="container padding-top-40">
            <div class="row">
                <div class="col m12">
                    <h6 class="pagetitles">Services</h6>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">products</a></li>
                        <li class="active">gps wearables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

        <img src="assets/img/products/banner/gps_vehicle_tracking_bipgerl.png" class="fullwidth" alt="gps_vehicle_tracking_bipgerl">

          <div class="container  row padding-top-20">
              <div class="col m7">
                  <h2 class="text-bold mb-10">gps wearables</h2>
                  
              </div>

              <div class="col m5">
                  <img src="assets/img/products/gps_vehicle_bigperl.png" class="img-responsive " alt="gps_vehicle_bigperl">
              </div>
          </div>


<app-footer5></app-footer5>
           
<app-footer2></app-footer2>
