
       
     <!-- start revolution slider 5.0 -->
     <section class="rev_slider_wrapper mt-xs-45">
           
          <!-- <a href="#top" class="page-scroll btn-floating btn-large pink back-top waves-effect waves-light tt-animate btt" data-section="#top" style="margin-top: 80px;">
            <i class="material-icons">keyboard_arrow_up</i>   
          </a> -->
        <div class="rev_slider materialize-slider" >
         <ul>

           <!-- slide 1 start -->
           <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
            data-masterspeed="2000" data-thumb="assets/img/seo/slider/slider-bg-1.jpg"  data-rotate="0"  data-fstransition="fade" 
            data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="materialize Material" data-description="">

               <!-- MAIN IMAGE -->
               <img src="assets/img/seo/slider/mobile_application_development_slider_1_bigperl.jpg"  alt="mobile_application_development_slider_1_bigperl"  
               data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>


               <!-- LAYER NR. 1 -->
               <div class="tp-caption NotGeneric-Title tp-resizeme"
                   data-x="['left','left','center','center']" data-hoffset="['20','20','0','0']"
                   data-y="['center','center','top','top']" data-voffset="['-100','-100','50','50']"
                   data-fontsize="['70','60','50','45']"
                   data-lineheight="['70','60','40','40']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;"
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="800"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; color: #fff;background-color: rgba(0,0,0,0.6);border-radius: 5px;padding:5px;margin-top: 120px;white-space: nowrap;">Mobile Application<br> Development
               </div>

               <!-- LAYER NR. 2 -->
               <div class="tp-caption tp-resizeme rev-subheading"
                   data-x="['left','left','center','center']" data-hoffset="['20','20','0','0']"
                   data-y="['center','center','top','top']" data-voffset="['0','0','140','140']"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;"

                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1000"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 6; color: #fff; background-color: rgba(0,0,0,0.6);border-radius: 5px;padding:5px 90px 5px 5px;margin-top: 140px; white-space: nowrap;"><b><strong>iOS Application Development | Android Application Development | Windows <br> Application Development | Wearable Devices | Internet Of Things</strong></b>
               </div>

               <!-- LAYER NR. 3 -->
               <div class="tp-caption tp-resizeme"
                   data-x="['left','left','center','center']" data-hoffset="['20','20','0','0']"
                   data-y="['middle','middle','top','top']" data-voffset="['100','100','220','220']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;"
                   data-style_hover="cursor:default;"
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1200"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 7;background-color: rgba(0,0,0,0.6); border-radius: 5px;padding:5px; white-space: nowrap;margin-top: 60px;">
                   <h3 style="color: #fff;"><b>Software Development and onsite consulting</b></h3>
               </div>

               <!-- LAYER NR. 4 -->
               <div class="tp-caption tp-resizeme"
                   data-x="['right','right','center','center']" data-hoffset="['30','30','0','0']"
                   data-y="['middle','middle','bottom','bottom']" data-voffset="['30','30','50','50']"
                   data-transform_idle="o:1;"
                   data-transform_in="y:30px;opacity:0;s:600;e:Power2.easeOut;"
                   data-transform_out="opacity:0;s:1000;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                   data-start="1200"
                   style="z-index: 8;margin-right: 60px;">
                       <div><img src="assets/img/seo/slider/mobile_application_development_monitor_bigperl.png" alt="mobile_application_development_monitor_bigperl">
                       </div>
               </div>

               <!-- LAYER NR. 5 -->
               <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                   data-x="['right','right','center','center']" data-hoffset="['300','300','-180','-180']"
                   data-y="['middle','middle','middle','middle']" data-voffset="['-160','-160','0','0']"
                   data-transform_idle="o:1;"
                   data-transform_in="y:30px;opacity:0;s:600;e:Power2.easeOut;"
                   data-transform_out="opacity:0;s:1000;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                   data-start="1500"
                   style="z-index: 9;margin-top: 180px;">
                       <div><img src="assets/img/seo/slider/mobile_application_development_envelope_bigperl.png" alt="mobile_application_development_envelope_bigperl">
                       </div>
               </div>

               <!-- LAYER NR. 6 -->
               <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                   data-x="['right','right','center','center']" data-hoffset="['160','160','0','0']"
                   data-y="['middle','middle','middle','middle']" data-voffset="['-220','-220','-60','-60']"
                   data-transform_idle="o:1;"
                   data-transform_in="y:30px;opacity:0;s:600;e:Power2.easeOut;"
                   data-transform_out="opacity:0;s:1000;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                   data-start="1700"
                   style="z-index: 10;margin-top: 240px;">
                       <div><img src="assets/img/seo/slider/mobile_application_development_bar_bigperl.png" alt="mobile_application_development_bar_bigperl" >
                       </div>
               </div>

               <!-- LAYER NR. 7 -->
               <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                   data-x="['right','right','center','center']" data-hoffset="['20','20','180','180']"
                   data-y="['middle','middle','middle','middle']" data-voffset="['-170','-170','0','0']"
                   data-transform_idle="o:1;"
                   data-transform_in="y:30px;opacity:0;s:600;e:Power2.easeOut;"
                   data-transform_out="opacity:0;s:1000;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                   data-start="1900"
                   style="z-index: 11;margin-top:180px;">
                       <div><img src="assets/img/seo/slider/mobile_application_development_chart_bigperl.png" alt="mobile_application_development_chart_bigperl" >
                       </div>
               </div>

               <!-- LAYER NR. 8 -->
               <div class="tp-caption tp-resizeme rs-parallaxlevel-3"
                   data-x="['right','right','center','center']" data-hoffset="['200','200','-100','-100']"
                   data-y="['middle','middle','bottom','bottom']" data-voffset="['80','80','30','30']"
                   data-transform_idle="o:1;"
                   data-transform_in="y:30px;opacity:0;s:600;e:Power2.easeOut;"
                   data-transform_out="opacity:0;s:1000;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                   data-start="2100"
                   style="z-index: 12;margin-top: 80px;margin-right: -80px;">
                       <div class="rs-pendulum" data-easing="Power4.easeInOut" data-startdeg="0" data-enddeg="15"><img src="assets/img/seo/slider/mobile_application_development_seo_mag_bigperl.png" alt="mobile_application_development_seo_mag_bigperl" >
                       </div>
               </div>

           </li>
           <!-- slide 1 end -->


           <!-- slide 2 start -->
           <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="assets/img/seo/slider/slider-bg-2.png"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="materialize Material" data-description="">

               <!-- MAIN IMAGE -->
               <img src="assets/img/seo/slider/mobile_application_development_slider_2_bigperl.png"  alt="mobile_application_development_slider_2_bigperl"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>


               <!-- LAYER NR. 1 -->
               <div class="tp-caption NotGeneric-Title tp-resizeme"
                   data-x="['left','left','center','center']" data-hoffset="['20','20','0','0']"
                   data-y="['center','center','top','top']" data-voffset="['-100','-100','50','50']"
                   data-fontsize="['70','60','50','45']"
                   data-lineheight="['70','60','40','40']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;"
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="800"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; color: #fff;background-color: rgba(0,0,0,0.6);border-radius: 5px;padding:5px;margin-top: 120px; white-space: nowrap;">Responsive web <br> development
               </div>

               <!-- LAYER NR. 2 -->
               <div class="tp-caption tp-resizeme rev-subheading"
                   data-x="['left','left','center','center']" data-hoffset="['20','20','0','0']"
                   data-y="['center','center','top','top']" data-voffset="['0','0','140','140']"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;"

                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1000"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 6; color: #fff; white-space: nowrap;border-radius: 5px;padding:5px 10px 5px 5px;background-color: rgba(0,0,0,0.6);margin-top: 120px;">
                   <b>Parallax Website Templates | E-Commerce Websites | Web 2.0 Development</b>
               </div>

               <!-- LAYER NR. 3 -->
               <div class="tp-caption tp-resizeme"
                   data-x="['left','left','center','center']" data-hoffset="['20','20','0','0']"
                   data-y="['middle','middle','top','top']" data-voffset="['100','100','220','220']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;"
                   data-style_hover="cursor:default;"
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1200"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 7; white-space: nowrap;margin-top: 50px;">
               </div>

               <!-- LAYER NR. 4 -->
               <div class="tp-caption tp-resizeme"
                   data-basealign="slide"
                   data-x="['right','right','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
                   data-transform_idle="o:1;"
                   data-transform_in="y:30px;opacity:0;s:600;e:Power2.easeOut;"
                   data-transform_out="opacity:0;s:1000;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                   data-start="1500"
                   style="z-index: 8;margin-bottom: 30px;margin-right: 80px;">
                   <div>
                       <img src="assets/img/seo/slider/mobile_application_development_graph1_bigperl.png" alt="mobile_application_development_graph1_bigperl">
                   </div>
               </div>
           </li>
           <!-- slide 2 end -->
           <!-- slide 3 start -->
           <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="assets/img/seo/slider/slider-bg-2.png"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="materialize Material" data-description="">

               <!-- MAIN IMAGE -->
               <img src="assets/img/seo/slider/mobile_application_development_slider_3_bigperl.png"  alt="mobile_application_development_slider_3_bigperl"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>


               <!-- LAYER NR. 1 -->
               <div class="tp-caption NotGeneric-Title tp-resizeme"
                   data-x="['left','left','center','center']" data-hoffset="['20','20','0','0']"
                   data-y="['center','center','top','top']" data-voffset="['-100','-100','50','50']"
                   data-fontsize="['70','60','50','45']"
                   data-lineheight="['70','60','40','40']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;"
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="800"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; color: #fff;background-color: rgba(0,0,0,0.6);border-radius: 5px;padding:5px; white-space: nowrap;margin-top: 120px;">Responsive web <br> development
               </div>

               <!-- LAYER NR. 2 -->
               <div class="tp-caption tp-resizeme rev-subheading"
                   data-x="['left','left','center','center']" data-hoffset="['20','20','0','0']"
                   data-y="['center','center','top','top']" data-voffset="['0','0','140','140']"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;"

                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1000"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 6; color: #fff; white-space: nowrap;border-radius: 5px;padding:5px 10px 5px 5px;background-color: rgba(0,0,0,0.6);margin-top: 120px;"><b>Parallax Website Templates | E-Commerce Websites | Responsive Web Development</b>
               </div>

               <!-- LAYER NR. 3 -->
               <div class="tp-caption tp-resizeme"
                   data-x="['left','left','center','center']" data-hoffset="['20','20','0','0']"
                   data-y="['middle','middle','top','top']" data-voffset="['100','100','220','220']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;"
                   data-style_hover="cursor:default;"
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
                   data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                   data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1200"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 7; white-space: nowrap;margin-top: 50px;">
               </div>

               <!-- LAYER NR. 4 -->
               <div class="tp-caption tp-resizeme"
                   data-basealign="slide"
                   data-x="['right','right','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
                   data-transform_idle="o:1;"
                   data-transform_in="y:30px;opacity:0;s:600;e:Power2.easeOut;"
                   data-transform_out="opacity:0;s:1000;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                   data-start="1500"
                   style="z-index: 8;margin-bottom: 30px;margin-right: 80px;">
                   <div>
                       <img src="assets/img/seo/slider/mobile_application_development_graph_bigperl.png" alt="graph_bigperl">
                   </div>
               </div>
           </li>
           <!-- slide 3 end -->


         </ul>
        </div> <!-- end revolution slider -->
 
       </section> <!-- end of slider wrapper -->

       <section class="section-padding  " >
           <div class="container">
               <div class="text-center mb-80 padding-top-20">
                   <h2 class="section-title text-uppercase center-align">What We Do</h2>
                </div>
                <div class="row">
                   
               <!-- <div class=" col m3 ">
                   <div >
                       <div class="featured-item seo-service">
                           <div class="icon">
                               <img class="responsive-img" src="assets/img/seo/ios_app_development_bigperl.jpg" alt="ios_app_development_bigperl">
                           </div>
                           <div class="desc center ">
                               <h2 class="text-center">IOS App<br>Development</h2>
                               <ul class="list-icon1 text-center">
                                   <li>iPhone App Development</li>
                                   <li>iPad Apps Development</li>
                                   <li>Wearable Apps</li>
                                   <li>tvOS Apps</li>
                               </ul>
                               <div class="bg-overlay"></div>
                               <p><a class="learn-more" routerLink="/iphone-app-development">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                           </div>
                       </div>
                   </div>
                   
               </div> -->
               <div class=" col m3 s12">
                <div >
                    <div class="featured-item seo-service">
                        <div class="icon">
                            <img class="responsive-img" src="assets/img/seo/ios_app_development_bigperl.jpg" alt="ios_app_development_bigperl">
                        </div>
                        <div class="desc center">
                            <h2 class="text-center"> &nbsp; IOS App &nbsp; Development</h2>
                            <ul class="list-icon1 text-center">
                                <li>Android Game Development</li>
                                <li>Wearable App development</li>
                                <li>Android Mobile Apps</li>
                                <li>Android Tab Apps</li>
                            </ul>
                            <div class="bg-overlay"></div>
                            <p><a class="learn-more" routerLink="/android-app-development">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
                </div><!-- /.portfolio-item -->
            </div>
               <div class=" col m3 s12">
                   <div >
                       <div class="featured-item seo-service">
                           <div class="icon">
                               <img class="responsive-img" src="assets/img/seo/android_app_development_bigperl.jpg" alt="android_app_development_bigperl">
                           </div>
                           <div class="desc center">
                               <h2 class="text-center">Android App Development</h2>
                               <ul class="list-icon1 text-center">
                                   <li>Android Game Development</li>
                                   <li>Wearable App development</li>
                                   <li>Android Mobile Apps</li>
                                   <li>Android Tab Apps</li>
                               </ul>
                               <div class="bg-overlay"></div>
                               <p><a class="learn-more" routerLink="/android-app-development">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                           </div>
                       </div>
                   </div><!-- /.portfolio-item -->
               </div>
               <div class=" col m3 s12">
                   <div >
                       <div class="featured-item seo-service">
                           <div class="icon">
                               <img class="responsive-img" src="assets/img/seo/hybrid_app_development_bigperl.jpg" alt="hybrid_app_development_bigperl">
                           </div>
                           <div class="desc center">
                               <h2 class="text-center">Hybrid App Development</h2>
                               <ul class="list-icon1 text-center">
                                   <li>PhoneGap App Development</li>
                                   <li>IONIC Apps Development</li>
                                   <li>Cocoon Framework</li>
                                   <li>Mobile Angular UI</li>
                               </ul>
                               <div class="bg-overlay"></div>
                               <p><a class="learn-more" routerLink="/hybrid-app-development">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                           </div>
                       </div>
                   </div><!-- /.portfolio-item -->
               </div>
               <div class=" col m3 s12">
                   <div >
                       <div class="featured-item seo-service">
                           <div class="icon">
                               <img class="responsive-img" src="assets/img/seo/xamarin_app_development_bigperl.jpg" alt="xamarin_app_development_bigperl">
                           </div>
                           <div class="desc center">
                               <h2 class="text-center">Xamarin App Development</h2>
                               <ul class="list-icon1 text-center">
                                   <li>Xamarin Integration Services</li>
                                   <li>Xamarin App Development</li>
                                   <li>Xamarin Maintenance</li>
                                   <li>Support Services</li>
                               </ul>
                               <div class="bg-overlay"></div>
                               <p><a class="learn-more" routerLink="/xamarin-development.php">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
                           </div>
                       </div>
                   </div><!-- /.portfolio-item -->
               </div>
            </div>
            
         
        </div>
       </section>

       <section class="section-padding dark-bg lighten-4" style="margin-top:30px">
           <div class="container">
             <div class="row">
               <div class="col m7 light-grey-text padding-top-30">
                   <h2 class="font-40 mb-30 white-text">What is Unique in BigPerl</h2>
                   <p>Technology always changes very frequently, expectations evolved itself from traditional websites to multi screen size mobile app to BigData and Machine Learning.Gaming changed from Computers to mobiles and now Virtual Reality ,Augmented Reality and Mixed Reality.All in just ten years.We are early adopters on new innovations in technology.</p>

                   <ul class="list-icon mb-15 extendleft">
                       <li class="intended"><i class="material-icons">done</i>One stop solution for complete digital need.</li>
                       <li class="intended"><i class="material-icons">done</i>Dedicated R&D team to explore on new technologies.</li>
                       <li class="intended"><i class="material-icons">done</i>Unique payment structure , Pay As You Go, Subscription (SaaS) & T&M</li>
                       <li class="intended"><i class="material-icons">done</i>Best in class personalised, post - production support for Entrepreneurs & Enterprise Customers.</li>
                       <li class="intended"><i class="material-icons">done</i>30 + Unique technology supported.</li>
                       <li>
                               <button type="button" class="waves-effect waves-light btn blue"  data-popup-open="popup-1" >
                                 Get A Quote
                               </button>
                    <div class="modal fade popup" id="myModal" tabindex="-1" data-popup="popup-1" style="z-index:15" >
                        <div class="modal-dialog" >
                            <div class="popup-inner">
                            <div class="modal-header">
                                
                                <h4 class="modal-title">Contact Us</h4>
                            </div>
                            <div class="modal-body">
                                    <div class="row">
                                    <div class="col m12">
                    <form method="post" id="contactForm" (ngSubmit)="login();submitted = true;contactform1.reset();" #contactform1="ngForm" >
                        <div class="row">
                        <div class="col m6">
                            <div class="input-field">
                            <i class="fa fa-user prefix fontcolors"></i>
                            <input type="text" name="name" class="validate" id="name" [(ngModel)]='name' #userFullName="ngModel"
                            [ngClass]="{'is-invalid':userFullName.errors && userFullName.touched}"     required minlength="2" >
                            <label *ngIf="(!userFullName.valid && !userFullName.touched) || !submitted" for="name">Name </label>
                            <label class="form_error" *ngIf="(userFullName.touched && !userFullName.valid && showMessage) || (submitted && !userFullName.valid && showMessage)" for="name">Name is required </label>
                            </div>
                        </div><!-- /.col m6 -->
                        <div class="col m6">
                            <div class="input-field">
                            <i class="fa fa-envelope prefix fontcolors"></i>
                            <input id="email" type="email" name="email" class="validate" [(ngModel)]='email'  #userEmail="ngModel"
                            [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"  required 
                            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" 
                            >
                            <label *ngIf="(!userEmail.valid && !userEmail.touched) || !submitted"  for="email" >Email *</label>
                            <label class="form_error" *ngIf="(userEmail.touched && !userEmail.valid && showMessage) || (submitted && !userEmail.valid && showMessage)" for="name">Email is required </label>
                            

                            </div>
                        </div><!-- /.col m6 -->
                        
                        </div><!-- /.row -->

                        <div class="row">
                        <div class="col m12">
                            <div class="input-field">
                            <i class="fa fa-book prefix fontcolors"></i>
                            <input id="subject" type="tel" name="subject" class="validate" [(ngModel)]='subject' 
                            #userSubject="ngModel"
                            [ngClass]="{'is-invalid':userSubject.errors && userSubject.touched}"  required minlength="2">
                            <label *ngIf="(!userSubject.valid && !userSubject.touched) || !submitted" for="subject">Subject *</label>
                            <label class="form_error" *ngIf="(userSubject.touched && !userSubject.valid && showMessage) || (submitted && !userSubject.valid && showMessage)" for="name">Subject is required </label>
                          </div>
                        </div><!-- /.col m6 -->
                        </div>
                        <div class="input-field">
                        <i class="fa fa-commenting-o prefix fontcolors"></i>
                        <textarea name="message" id="message"  class="form-control" [(ngModel)]='message'  ></textarea>
                        <label for="message">Message</label>
                        </div>
                        <button type="submit" name="submit" class="btn-sm btnclass" >Send Message</button>
                        </form>
                                                 
    
                        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
                    </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    </div>

                       </li>
                   </ul>

               </div><!-- /.col-md-7 -->

               <div class="col m5 mt-sm-30">
                            <img src="assets/img/seo/mobile_application_development_seo_bigperl_new2.png" alt="mobile_application_development_seo_bigperl" class="responsive-img">
               </div><!-- /.col-md-5 -->
             </div><!-- /.row -->
           </div><!-- /.container -->
       </section>


       <section class="section-padding" >
           <div class="container">
             <div class="center mb-80 padding-top-20 ptb-30">
                 <h2 class="section-title text-uppercase">Why Choose Us</h2>
                 <p class="section-sub">BigPerl Solutions is one of the fastest growing Mobile Application Development company. we are specialised in providing best in class technology and support solution to cater growing business needs.</p>
             </div>


               <div class="row">
                   <div class="col m4 mb-50">
                       <div class="featured-item feature-icon icon-hover icon-hover-brand icon-outline">
                           <div class="icon">
                               <i class="material-icons colored brand-icon">library_books</i>
                           </div>
                           <div class="desc">
                               <h2>Mobile App Development</h2>
                               <p>Building right app stately is key. Our consultants work with you to create successful statigy.</p>
                           </div>
                       </div><!-- /.featured-item -->
                   </div><!-- /.col-md-4 -->

                   <div class="col m4 mb-50">
                       <div class="featured-item feature-icon icon-hover icon-hover-brand icon-outline">
                           <div class="icon">
                               <i class="material-icons colored brand-icon">equalizer</i>
                           </div>
                           <div class="desc">
                               <h2>Android App Development</h2>
                               <p>We have team of 40+ Native Android developers along with R&D team which works on upcoming technologies like kotlin</p>
                           </div>
                       </div><!-- /.featured-item -->
                   </div><!-- /.col-md-4 -->

                   <div class="col m4 mb-50">
                       <div class="featured-item feature-icon icon-hover icon-hover-brand icon-outline">
                           <div class="icon">
                               <i class="material-icons colored brand-icon">share</i>
                           </div>
                           <div class="desc">
                               <h2>iOS App Development</h2>
                               <p>We have 60+ iOS developers working on Xcode, Swift 3 & Objective-C. We have dedicated R&D team, which experiments new features and releases.</p>
                           </div>
                       </div><!-- /.featured-item -->
                   </div><!-- /.col-md-4 -->

                   <div class="col m4 mb-50">
                       <div class="featured-item feature-icon icon-hover icon-hover-brand icon-outline">
                           <div class="icon">
                               <i class="material-icons colored brand-icon">build</i>
                           </div>
                           <div class="desc">
                               <h2>Windows App Development</h2>
                               <p>We have Dedicated team of xamarin app developers which works on windows native app development.
</p>
                           </div>
                       </div><!-- /.featured-item -->
                   </div><!-- /.col-md-4 -->

                   <div class="col m4 mb-50">
                       <div class="featured-item feature-icon icon-hover icon-hover-brand icon-outline">
                           <div class="icon">
                               <i class="material-icons colored brand-icon">youtube_searched_for</i>
                           </div>
                           <div class="desc">
                               <h2>Hybrid App Development</h2>
                               <p>Hybrid Mobile Apps are picking up well in app stores. We have dedicated team of 25+ developers work on PhoneGap, Ionic & AngularJs frameworks.
</p>
                           </div>
                       </div><!-- /.featured-item -->
                   </div><!-- /.col-md-4 -->

                   <div class="col m4 mb-50">
                       <div class="featured-item feature-icon icon-hover icon-hover-brand icon-outline">
                           <div class="icon">
                               <i class="material-icons colored brand-icon">person</i>
                           </div>
                           <div class="desc">
                               <h2>E-Commerse Web Development</h2>
                               <p>Building E-commerse web is always a key, Our team works on most of leading technologies e.g. : AngularJs, NodeJS, Php , Python, ROR development stack.</p>
                           </div>
                       </div><!-- /.featured-item -->
                   </div><!-- /.col-md-4 -->
             </div><!-- /.row -->
             </div>
       </section>

       <section class="padding-top-20 padding-bottom-10 brand-bg">
         <div class="container">
           <div class="center">
               <button class="waves-effect waves-light btn-large blue" id="btnwidth"  data-popup-open="popup-1"><img id="img001" src="assets/img/ico/trending_up_bigperl.png" alt="trending_up_bigperl" >Get free consultation from our Experts <img  id="img002" src="assets/img/ico/trending_up_bigperl.png" alt="trending_up_bigperl" ></button>
               <div class="modal fade" id="myModals" tabindex="-1" >
                                 <div class="modal-dialog" >
                                   <div class="modal-content">
                                     <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal"   ><span   >&times;</span></button>
                                       <h4 class="modal-title">Contact Us</h4>
                                     </div>
                                     <div class="modal-body">
                                           <div class="row">
                                           <div class="col m12">
                                            <form method="post" id="contactForm2" (ngSubmit)="login(); contactform.reset(); Success() " #contactform="ngForm"  >
                                                <div class="row">
                                                    <div class="col m6">
                                                      <div class="input-field">
                                                        <i class="fa fa-user prefix fontcolors"></i>
                                                        <input type="text" name="name" id="name"  [(ngModel)]='name' >
                                                        <label for="name">Name</label>
                                                      </div>
                                                    </div><!-- /.col-md-6 -->
                                                    <div class="col m6">
                                                      <div class="input-field">
                                                        <i class="fa fa-envelope prefix fontcolors"></i>
                                                        <input id="email" type="email" name="email" class="validate"   [(ngModel)]='email'>
                                                        <label for="email" data-error="wrong" data-success="right">Email</label>
                                                      </div>
                                                    </div><!-- /.col-md-6 -->
                                                  </div><!-- /.row -->
 
                                                  <div class="row">
                                                    <div class="col m12">
                                                      <div class="input-field">
                                                        <i class="fa fa-book prefix fontcolors"></i>
                                                        <input id="subject" type="tel" name="subject" class="validate"  [(ngModel)]='subject' >
                                                        <label for="subject">Subject</label>
                                                      </div>
                                                    </div><!-- /.col-md-6 -->
                                                    </div>
                                                  <div class="input-field">
                                                    <i class="fa fa-commenting-o prefix fontcolors"></i>
                                                    <textarea  name="message"  id="message"  [(ngModel)]='message'  ></textarea>
                                                    <label for="message">Message</label>
                                                  </div>
                                                  <button type="submit" name="submit" class="btn-sm btnclass"  [disabled]="!contactform.form.valid" >Send Message</button>
                                                  </form>
                                   
                                           </div>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                               </div>
           </div>
         </div>
       </section>



   




         <app-footer3></app-footer3>





 
         
         
         
         
         <section class="section-padding">
            <div class="container">

              <div class="center mb-80">
                  <h1 class="section-title text-uppercase">Our Successful Clients</h1>
                  <p class="section-sub">Our client trust us to help them in building high performing software solutions. We have awesome list of global clients working with us for 5+ years.</p>
              </div>
              <div class="clients-grid gutter">
                <div class="row">
                    <div class="owl-carousel owl-theme" id="customers-carousel2">
                        <div class="item active">
                            <div class="border-box">
                                <a href="#">
                                    <img src="assets/img/client-logo/our_clients_akg_bigperl_2.png" alt="our_clients_akg_bigperl">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="border-box">
                                <a href="#">
                                    <img src="assets/img/client-logo/our_clients_ang_bigperl_2.png" alt="our_clients_ang_bigperl">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="border-box">
                                <a href="#">
                                    <img src="assets/img/client-logo/our_clients_archi_bigperl_2.png" alt="our_clients_archi_bigperl">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="border-box">
                                <a href="#">
                                    <img src="assets/img/client-logo/our_clients_arfma_bigperl_2.png" alt="our_clients_arfma_bigperl">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="border-box">
                                <a href="#">
                                    <img src="assets/img/client-logo/our_clients_barma_bigperl_2.jpg" alt="our_clients_barma_bigperl">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="border-box">
                                <a href="#">
                                    <img src="assets/img/client-logo/our_clients_ccat_bigperl_2.png" alt="our_clients_ccat_bigperl">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="border-box">
                                <a href="#">
                                    <img src="assets/img/client-logo/our_clients_kvrc_bigperl_2.png" alt="our_clients_kvrc_bigperl">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="border-box">
                                <a href="#">
                                    <img src="assets/img/client-logo/our_clients_fashion_bigperl_2.png" alt="our_clients_fashion_bigperl">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="border-box">
                                <a href="#">
                                    <img src="assets/img/client-logo/our_clients_gp_bigperl_2.png" alt="our_clients_gp_bigperl">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="border-box">
                                <a href="#">
                                    <img src="assets/img/client-logo/our_clients_he_bigperl_2.png" alt="he_bigperl">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="border-box">
                                <a href="#">
                                    <img src="assets/img/client-logo/our_clients_jms_bigperl_2.png" alt="our_clients_jms_bigperl">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="border-box">
                                <a href="#">
                                    <img src="assets/img/client-logo/our_clients_kuch_bigperl_2.png" alt="our_clients_kuch_bigperl">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="border-box">
                                <a href="#">Subscribe to Newsletter
                                    <img src="assets/img/client-logo/our_clients_kvrc_bigperl_2.png" alt="our_clients_kvrc_bigperl">
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
              </div><!-- /.clients-grid -->
            </div><!-- /.container -->
        </section><br>

          <div class="padding-top-20 padding-bottom-10 brand-bg">
            <div class="center">
                <form method="post" id="contactForm2" (ngSubmit)="subscribe(); subscribeform1.reset(); Info() " #subscribeform1="ngForm">
                    <input type="email" name="email" placeholder="Subscribe to Newsletter" id="inputs"  [(ngModel)]='email' #userEmail="ngModel"
                    [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"  required 
                    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" >
                    <button class="btn btn-sm indigo" name="submit" id="inputbtnstyle"  [disabled]="!subscribeform1.form.valid" ><i class="material-icons">send</i></button>
                </form>
            </div>
          </div><!-- /.container -->

        <section class="section-padding featured-list-news">
            <div class="container">

              <div class="center mb-80 padding-top-20">
                  <h2 class="section-title text-uppercase">Latest Blog</h2>
                  <p class="section-sub">We are living in digital world. Most of business already understood and adopted the digital curve. This starts from paperless offices till live monintiering of crops using mobile app and iOT solutions. </p>
              </div>

              <div class="row">
                <div class="col m6 s12">
                  <div class="post-wrapper featured-news">

                    <div class="thumb-wrapper waves-effect waves-block waves-light">
                      <a href="#"><img src="assets/img/blog/roleofmobileapp_bigperl.jpeg" class="responsive-img" alt="blog_12_bigperl" ></a>
                    </div><!-- .post-thumb -->

                    <div class="blog-content">
                      <header class="entry-header-wrapper">
                        <div class="entry-header">
                          <h2 class="entry-title"><a href="#">Role of mobile apps in business functions</a></h2>

                          <div class="entry-meta">
                              <ul class="list-inline">
                                  <li>
                                      By <a href="#">Kiran</a>
                                  </li>

                                  <li>
                                      In <a href="#">Technology</a>
                                  </li>

                                  <li>
                                      At <a href="#">2018</a>
                                  </li>
                              </ul>
                          </div><!-- .entry-meta -->
                        </div>
                      </header><!-- /.entry-header-wrapper -->

                      <div class="entry-content ">
                        <p>Mobile apps have revolutionized the way businesses function. On the consumer level, they have allowed us to break down the barriers of boundaries and stay connected from anywhere in the world. Now you might have noticed that many apps ask you for your location.</p>

                        <a routerLink="/location-based-technology-for-mobile-app" class="readmore">Read Full Post <i class="fa fa-long-arrow-right"></i></a>
                      </div><!-- .entry-content -->
                    </div>

                </div><!-- /.post-wrapper -->
                </div>
                <div class="col m6 s12">

                    <div class="post-wrapper list-article">

                      <div class="hover-overlay brand-bg"></div>

                      <div class="thumb-wrapper waves-effect waves-block waves-light">
                        <a href="#"><img src="assets/img/blog/appindexing_bigperl_2.jpeg" class="responsive-img" alt="blog_22_bigperl" style="height:220px;width:180px" ></a>
                      </div><!-- .post-thumb -->

                      <div class="blog-content">
                        <header class="entry-header-wrapper">
                          <div class="entry-header">
                            <h2 class="entry-title"><a href="#">How App Indexing and Deep linking</a></h2>

                            <div class="entry-meta">
                                <ul class="list-inline">
                                    <li>
                                        By <a href="#">Jams</a>
                                    </li>

                                    <li>
                                        In <a href="#">Technology</a>
                                    </li>

                                    <li>
                                        At <a href="#">Feb,2018</a>
                                    </li>
                                </ul>
                            </div><!-- .entry-meta -->
                          </div><!-- /.entry-header -->
                        </header><!-- /.entry-header-wrapper -->

                        <div class="entry-content ">
                          <p>There are millions of apps present in Google’s Playstore and in Apple’s iTune. All these apps aim for maximum downloads by providing rich content.</p>
                          <a routerLink="/how-indexing-and-deep-linking-help" class="readmore">Read Full Post <i class="fa fa-long-arrow-right"></i></a>
                        </div><!-- .entry-content -->
                      </div>

                    </div><!-- /.post-wrapper -->

                    <div class="post-wrapper list-article">

                      <div class="hover-overlay brand-bg"></div>
                       

                      <div class="thumb-wrapper thumb-wrap3 waves-effect waves-block waves-light">
                        <a href="#"><img src="assets/img/blog/xamarian_img_bigperl_2.jpeg" class="responsive-img xamarianImg1" alt="blog_23_bigperl" style="height:220px;width:180px"></a>
                      </div><!-- .post-thumb -->

                      <div class="blog-content">
                        <header class="entry-header-wrapper">
                          <div class="entry-header">
                            <h2 class="entry-title"><a href="#">Cross Platform Mobile Application Development with Xamarin</a></h2>

                            <div class="entry-meta">
                                <ul class="list-inline">
                                    <li>
                                        By <a href="#">BigPerl</a>
                                    </li>

                                    <li>
                                        In <a href="#">Technology</a>
                                    </li>

                                    <li>
                                        At <a href="#">Jan 15, 2016</a>
                                    </li>
                                </ul>
                            </div><!-- .entry-meta -->
                          </div><!-- /.entry-header -->
                        </header><!-- /.entry-header-wrapper -->

                        <div class="entry-content ">
                          <p>Xamarin is a cross-platform tool used for the purpose of mobile application development.</p>
                          <a routerLink="/xamarin-development" class="readmore">Read Full Post <i class="fa fa-long-arrow-right"></i></a>
                        </div><!-- .entry-content -->
                      </div>

                    </div><!-- /.post-wrapper -->
                    <!-- <a id="back2Top" title="Back to top" href="#">&#10148;</a> -->
                </div><!-- /.col-md-6 -->
              </div><!-- /.row -->
             
            </div><!-- /.container -->
           


        </section>
      