  <!--page title start-->
  <section class="page-title ptb-30">
    <div class="container padding-top-40">
        <div class="row">
            <div class="col m12">
                <h6 class="pagetitles">Case studies</h6>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Case studies</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->
<section class="section-padding">
  <div class="container">
    <div class="text-center mb-10">
        <h2 class="section-title text-uppercase">Works</h2>
        <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet vived at vestibulum purus erra at vestibulum purus diam. Nulla ac nisi rhoncus,</p>
    </div>


    <div class="portfolio-container text-center">
        <ul class="portfolio-filter brand-filter">
            <li class="active waves-effect waves-light" data-group="all">All</li>
            <li class="waves-effect waves-light" data-group="websites">Websites</li>
            <li class="waves-effect waves-light" data-group="branding">Branding</li>
            <li class="waves-effect waves-light" data-group="marketing">Marketing</li>
            <li class="waves-effect waves-light" data-group="photography">Photography</li>
        </ul>


        <div class="portfolio col-4 mtb-30 gutter">
            <!-- remove "gutter" class for no spacing -->

            <div class="portfolio-item" data-groups='["all", "branding", "photography"]'>
                <div class="portfolio-wrapper">

                  <div class="thumb">
                      <div class="bg-overlay"></div>

                      <img src="assets/img/portfolio/portfolio_1_bigperl.jpg" alt="portfolio_1_bigperl">

                      <div class="portfolio-intro">
                        <div class="action-btn">
                          <a href="assets/img/portfolio/portfolio_5_bigperl.jpg" class="tt-lightbox" title=""><i class="fa fa-search"></i></a>
                        </div>
                        <h2><a routerLink="/portfolio-singlepage">Portfolio Title</a></h2>
                        <p><a routerLink="/portfolio-singlepage">Branding</a></p>
                      </div>

                  </div><!-- thumb -->

                </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->

            <div class="portfolio-item" data-groups='["all", "marketing", "websites"]'> 
              <div class="portfolio-wrapper">

                <div class="thumb">
                    <div class="bg-overlay"></div>
                    <img src="assets/img/portfolio/portfolio_2_bigperl.jpg" alt="portfolio_2_bigperl">

                    <div class="portfolio-intro">
                      <div class="action-btn">
                        <a href="#"> <i class="fa fa-link"></i> </a>
                      </div>
                      <h2><a routerLink="/portfolio-singlepage">Portfolio Title</a></h2>
                      <p><a routerLink="/portfolio-singlepage">Marketing</a></p>
                    </div>
                </div><!-- thumb -->

              </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->

            <div class="portfolio-item" data-groups='["all", "photography", "branding"]'>

              <div class="portfolio-wrapper">
                <div class="thumb">
                    <div class="bg-overlay"></div>

                    <div class="portfolio-slider" data-direction="vertical">
                        <ul class="slides">
                            <li>
                                <a href="assets/img/portfolio/portfolio_9_bigperl.jpg" title="materialize Unique Design">
                                  <img src="assets/img/portfolio/portfolio_9_bigperl.jpg" alt="portfolio_9_bigperl">
                                </a>
                            </li>
                             <li>
                                <a href="assets/img/portfolio/portfolio_8_bigperl.jpg" title="materialize Awesome Template">
                                  <img src="assets/img/portfolio/portfolio_8_bigperl.jpg" alt="portfolio_8_bigperl">
                                </a>
                            </li>
                            <li>
                                <a href="assets/img/portfolio/portfolio_7_bigperl.jpg" title="materialize Clean and Elegant">
                                  <img src="assets/img/portfolio/portfolio_7_bigperl.jpg" alt="portfolio_7_bigperl">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="portfolio-intro">
                      <div class="action-btn">
                          <a href="#"> <i class="fa fa-search"></i>  </a>
                      </div>
                      <h2><a routerLink="/portfolio-singlepage">Portfolio Title</a></h2>
                      <p><a routerLink="/portfolio-singlepage">Gallery</a></p>
                    </div>

                </div><!-- thumb -->

              </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->

            <div class="portfolio-item" data-groups='["all", "websites", "branding"]'>
              <div class="portfolio-wrapper">
                <div class="thumb">
                    <div class="bg-overlay"></div>
                    <img src="assets/img/portfolio/portfolio_4_bigperl.jpg" alt="portfolio_4_bigperl">

                    <div class="portfolio-intro">
                      <div class="action-btn">
                          <a class="popup-video" href="https://www.youtube.com/watch?v=XVfOe5mFbAE"> <i class="fa fa-play"></i>  </a>
                      </div>
                      <h2><a routerLink="/portfolio-singlepage">Portfolio Title</a></h2>
                      <p><a routerLink="/portfolio-singlepage">Video</a></p>
                    </div>
                </div><!-- thumb -->

              </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->

            <div class="portfolio-item" data-groups='["all", "photography", "marketing"]'>
              <div class="portfolio-wrapper">
                <div class="thumb">
                    <div class="bg-overlay"></div>
                    <img src="assets/img/portfolio/portfolio_5_bigperl.jpg" alt="portfolio_5_bigperl">

                    <div class="portfolio-intro">
                      <div class="action-btn">
                        <a href="assets/img/portfolio/portfolio_5_bigperl.jpg" class="tt-lightbox" title=""> <i class="fa fa-search"></i> </a>
                      </div>
                      <h2><a routerLink="/portfolio-singlepage">Portfolio Title</a></h2>
                      <p><a routerLink="/portfolio-singlepage">Branding</a></p>
                    </div>
                </div><!-- /.thumb -->

              </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->

            <div class="portfolio-item" data-groups='["all", "websites",  "marketing"]'>
              <div class="portfolio-wrapper">
                <div class="thumb">
                    <div class="bg-overlay"></div>
                    <img src="assets/img/portfolio/portfolio_6_bigperl.jpg" alt="portfolio_6_bigperl">

                    <div class="portfolio-intro">
                      <div class="action-btn">
                        <a href="#"> <i class="fa fa-link"></i></a>
                      </div>
                      <h2><a routerLink="/portfolio-singlepage">Portfolio Title</a></h2>
                      <p><a routerLink="/portfolio-singlepage">Marketing</a></p>
                    </div>
                </div><!-- /.thumb -->

              </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->

            <div class="portfolio-item" data-groups='["all", "websites", "photography"]'>
                <div class="portfolio-wrapper">

                  <div class="thumb">
                      <div class="bg-overlay"></div>

                      <img src="assets/img/portfolio/portfolio_7_bigperl.jpg" alt="portfolio_7_bigperl">

                      <div class="portfolio-intro">
                        <div class="action-btn">
                          <a href="assets/img/portfolio/portfolio_7_bigperl.jpg" class="tt-lightbox" title=""><i class="fa fa-search"></i></a>
                        </div>
                        <h2><a routerLink="/portfolio-singlepage">Portfolio Title</a></h2>
                        <p><a routerLink="/portfolio-singlepage">Branding</a></p>
                      </div>

                  </div><!-- thumb -->

                </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->

            <div class="portfolio-item" data-groups='["all", "branding", "marketing"]'>
                <div class="portfolio-wrapper">

                  <div class="thumb">
                      <div class="bg-overlay"></div>

                      <img src="assets/img/portfolio/portfolio_8_bigperl.jpg" alt="portfolio_8_bigperl">

                      <div class="portfolio-intro">
                        <div class="action-btn">
                          <a href="assets/img/portfolio/portfolio_6_bigperl.jpg" class="tt-lightbox" title=""><i class="fa fa-search"></i></a>
                        </div>
                        <h2><a routerLink="/portfolio-singlepage">Portfolio Title</a></h2>
                        <p><a routerLink="/portfolio-singlepage">Branding</a></p>
                      </div>

                  </div><!-- thumb -->

                </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->
            
        </div><!-- /.portfolio -->

    </div><!-- portfolio-container -->
  </div>
</section>


