#inputs{
    height:10px;
}

/* 
@media screen and (max-width: 376px) {
    #inputbtnstyle{
        position: absolute;
        margin-left: -1px;
        margin-top: 1px;
    }
} */

/* #inputbtnstyle{
    position: absolute;
    margin-left: -62px;
    margin-top: 1px;
} */