



.single_blogpage{
    
        padding: 21px 3px 34px 2px;
    
}

.inline{
    display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.post-category-single {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 3px 11px 2px 12px;
    border: 1px solid #7e91cc;
    background-color: #7e91cc;
    color: #fff;
    transition: all .3s ease;
}
.post-category-single a {
    color: #fff;
}
.post-category-single:hover {
    background-color: transparent;
    color: #7e91cc;
}
.post-category-single:hover a{
    
    color: #7e91cc;
}
.post-content{
    padding: 20px 1px 20px 20px;
}
.post-tags{
    padding: 5px ;
}

.post-tags a.post-tag {
    display: inline-block;
    /* float: right; */
    margin: 8px 2px 0;
    padding: 4px 7px 3px;
    color: #7b7b7f;
    background-color: transparent;
    border: 1px solid #ccc;
    transition: all .3s ease;
}
.post-tags a.post-tag:hover {
    color: #fff;
    background-color: #eb2229;
    border-color: #eb2229;
}
.line{
    height: 1px;
    width: 100%;
   
    background-color: #d0d0d0;
}

.share_links li{
    /* position: absolute; */
    left: -80px;
    transition: 0.3s;
    list-style-type: none;
    display: inline-block;
    padding: 8px;

}
.share_links li:hover {
    left: 0;
  }


  #menu {
    width: auto;
    padding: 6px;
  }
  #menu * {
    overflow: hidden;
    /* white-space: nowrap; */


    font-size: 20px;
    text-align: center;
  }
  #menu a {
    display: none;
    width: 0px;
    opacity: 0;
 
  }
  #menu span {
    display: inline-block;
    width: 150px;
    padding: 10px;
  }
  #menu .btn{
    width: 150px;
  }